*{
    margin: 0px;
    padding: 0px;
}

h1{
    background-color: #081b31;
    color: #ffff;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
img:hover{
    border:solid 1rem #081b31;
}

.choice{
    height: 165px;
    width: 165px;
}

img{
    height: 100px;
    width: 100px;
    object-fit: contain;
    border-radius: 50%;
    border: solid 1rem gray ;
}

.score_board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 4rem;
}
#user_score,
#comp_score{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.msg_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
#msg{
    background-color: #081b31;
    color: #ffff;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem; 
}